{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Personal Page</title>
{% endblock %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static 'chat/home.css' %}">
{% endblock %}
  
{% block content %}
<div align="center" class="mt-5">
  <h2>Hello {{ user.username }}</h2>
</div>

<div class="my-container">
    <form id="post-form" method="POST" action="{% url 'check-view' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success rounded-1 w-100">Create</button>
    </form>
</div>

<!-- Available Rooms -->
<h4 class="text-center fw-bold mt-5">My Rooms</h4>
<div class="grid-container">
  {% for room in my_rooms %}
    <a href="{% url 'room-users' room=room.name username=user.username %}" class="grid-item-1">{{ room.name }}</a>
  {% endfor %}
</div>


<!-- Messages Rooms -->
<h4 class="text-center fw-bold mt-5">Already Used Rooms</h4>
<div class="grid-container">
  {% for room in used_rooms %}
    <a href="{% url 'room-page' room=room.name username=user.username %}" class="grid-item-2">{{ room.name }}</a>
  {% endfor %}
</div>

{% endblock %}
