{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

<!-- title section -->
{% block title %}
  <title>Personal Page</title>
{% endblock %}

<!-- css section -->
{% block css_styles %}
  <link rel="stylesheet" href="{% static 'chat/home.css' %}">
{% endblock %}

<!-- content section -->
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show m-2 text-center" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}


<div align="center" class="mt-5">
  <h2>Hello {{ user.username }}</h2>
</div>

<div class="d-flex justify-content-center align-items-center">
  <!-- room creation form -->
  <div class="my-container me-2">
    <form id="post-form" method="POST" action="{% url 'check-view' %}">
        {% csrf_token %}
        {{ form1.as_p }}
        <input type="hidden" id="hidden-create" name="hidden-create" value="hidden-create">
        <button type="submit" class="btn btn-primary rounded-1 w-100">Create Room</button>
    </form>
  </div>

  <!-- room searching form -->
  <div class="my-container ms-2">
    <form id="post-form" method="POST" action="{% url 'search-view' %}">
        {% csrf_token %}
        {{ form2.as_p }}
        <input type="hidden" id="hidden-search" name="hidden-search" value="hidden-search">
        <button type="submit" class="btn btn-success rounded-1 w-100">Search Room</button>
    </form>
  </div>

</div>


<div class="d-flex justify-content-around align-items-center">
  <!-- Available Rooms -->
  <div class="d-flex flex-column justify-content-start align-items-center">
    <h4 class="text-center fw-bold mt-5">My Rooms</h4>
    <div class="grid-container">
      {% for room in my_rooms %}
        <a href="{% url 'room-users' room=room.name username=user.username %}" class="grid-item-1">{{ room.name }}</a>
      {% endfor %}
    </div>
  </div>

  <!-- Messages Rooms -->
  <div class="d-flex flex-column justify-content-start align-items-center">
    <h4 class="text-center fw-bold mt-5">Used Rooms</h4>
    <div class="grid-container">
      {% for room in used_rooms %}
        {% if room|check %}
          <a href="{% url 'room-page' room=room.name username=user.username %}" class="grid-item-2">{{ room.name }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
