{% extends "base.html" %}
{% load static %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static 'chat/home.css' %}">
{% endblock %}
  
{% block content %}
<div align="center">
  <h2>Django Chat</h2>
</div>

<div class="container">
    <form id="post-form" method="POST" action="checkview">
        {% csrf_token %}
        <label>Room Name</label>
        <input type="text" name="room_name" id="room_name" width="100px" />
        <label>Username</label>
        <input type="text" name="username" id="username" width="100px" />
        <input type="submit" value="Enter Room">
    </form>
</div>
{% endblock %}
