{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Room Page</title>
{% endblock %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static 'chat/room.css' %}">
{% endblock %}
  
  
{% block content %}
<h2 class="text-center">{{ room }} - {{ user.username }}</h2>

<div id="display">
  {% for msg in room_messages %}
    <div>{{ msg.user.username }} {{ msg.value }} {{ msg.date }}</div>
  {% endfor %}
</div>

<div class="my-container">
  <form id="post-form" method="POST">
      {% csrf_token %}
      <input type="hidden" name="room_id" id="room_id" value="{{ room_details.id }}"/>
      <input type="text" name="message" id="message" width="100px" />
      <input type="submit" value="Send">
  </form>
</div>

{% endblock  %}


{% block js_logic %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{% endblock  %}
