{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

{% block title %}
  <title>Room Page</title>
{% endblock %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static 'chat/room.css' %}">
{% endblock %}
  
  
{% block content %}
<h5 class="d-flex justify-content-between align-items-center mt-4 head-tag">Room Name: {{ room }}
  {% if user.username == room_details.user.username %}
    <a href="{% url 'delete-room' room_id=room_details.id room_name=room_details.name %}" class="delete-link">Delete This Room Permanently</a>
  {% endif %}
</h5>
<h5 class="text-left mt-3 mb-3 head-tag">Room Creator: <strong>{{ room_details.user.username }}</strong></h5>


<div id="display">

</div>

<div class="my-container">
  <form id="post-form">
      {% csrf_token %}
      <input type="hidden" name="room_id" id="room_id" value="{{ room_details.id }}"/>
      <input type="text" name="message" id="message" width="100px" />
      <input type="submit" value="Send Message">
  </form>
</div>

{% endblock  %}


{% block js_logic %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script>
// get data with ajax
$(document).ready(function() {
  
  setInterval(function() {
    $.ajax({
      type: "GET",
      url: "{% url 'get-messages' room=room %}",
      success: function(response) {
        $("#display").empty();

        var current_username = "{{ user.username }}";

        for (var i = 0; i < response.messages.length; i++) {

          var start_html = "";
          var loop_username = response.messages[i].user;
          if (loop_username == current_username) {
            start_html = `<div class='message-div blue-div'>`;
          } else {
            start_html = `<div class='message-div yellow-div'>`;
          }
          
          var message_item = start_html +
            `<h4 class='p-0 m-0' style='font-size: 12px;'>By ${response.messages[i].user}</h4>` +
            `<p class='p-0 m-0 mt-1 mb-1' style='font-size: 14px;'>${response.messages[i].value}</p>` +
            `<span style='font-size: 12px;'>${response.messages[i].date}</span></div>`;
          
            $("#display").append(message_item);
            // scroll always down
            var messageBody = document.querySelector("#display");
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }
      },
      error: function(response) {
        console.log("error happened!");
      }
    });
  }, 1000);
})

</script>

<script type="text/javascript">
  $(document).on('submit','#post-form',function(e){
    e.preventDefault();

    $.ajax({
      type:'POST',
      url:"{% url 'send-messages' %}",
      data:{
          room_id:$('#room_id').val(),
          message:$('#message').val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
      },
      success: function(data){
        var answer = data;
      }
    });
    document.getElementById('message').value = ''
  });
</script>

{% endblock  %}
