{% extends "base.html" %}
{% load static %}
{% load poll_extras %}

{% block title %}
  <title>Room Page</title>
{% endblock %}

{% block css_styles %}
  <link rel="stylesheet" href="{% static 'chat/room.css' %}">
{% endblock %}
  
  
{% block content %}
<h5 class="d-flex justify-content-between align-items-center mt-4 head-tag">Room Name: {{ room }}
  {% if user.username == room_details.user.username %}
    <a href="{% url 'delete-room' room_id=room_details.id room_name=room_details.name %}" class="delete-link">Delete This Room Permanently</a>
  {% endif %}
</h5>
<h5 class="text-left mt-3 mb-3 head-tag">Room Creator: {{ room_details.user.username }}</h5>


<div id="display">

</div>

<div class="my-container">
  <form id="post-form" method="POST">
      {% csrf_token %}
      <input type="hidden" name="room_id" id="room_id" value="{{ room_details.id }}"/>
      <input type="text" name="message" id="message" width="100px" />
      <input type="submit" value="Send Message">
  </form>
</div>

{% endblock  %}


{% block js_logic %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script>
// scroll always down
var messageBody = document.querySelector("#display");
messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;

// get data with ajax
$(document).ready(function() {
  
  setInterval(function() {
    $.ajax({
      type: "GET",
      url: "{% url 'get-messages' room=room %}",
      success: function(response) {
        $("#display").empty();

        for (var i = 0; i < response.messages.length; i++) {
          
          var message_item = `<div class='message-div yellow-div'>` +
            `<h4 class='p-0 m-0' style='font-size: 20px;'>By ${response.messages[i].user_id}</h4>` +
            `<p class='p-0 m-0 mt-2 mb-2' style='font-size: 15px;'>${response.messages[i].value}</p>` +
            `<span style='font-size: 12px;'>${response.messages[i].date}</span></div>`;
          
            $("#display").append(message_item);
        }
      },
      error: function(response) {
        console.log("error happened!");
      }
    });
  }, 5000);
})

</script>

{% endblock  %}
